USE [Поликлиника]
GO
/****** Object:  DatabaseRole [AdminRole]    Script Date: 21.05.2026 13:15:25 ******/
CREATE ROLE [AdminRole]
GO
/****** Object:  DatabaseRole [DoctorRole]    Script Date: 21.05.2026 13:15:25 ******/
CREATE ROLE [DoctorRole]
GO
/****** Object:  DatabaseRole [LabTechRole]    Script Date: 21.05.2026 13:15:25 ******/
CREATE ROLE [LabTechRole]
GO
/****** Object:  DatabaseRole [RegistrarRole]    Script Date: 21.05.2026 13:15:25 ******/
CREATE ROLE [RegistrarRole]
GO
/****** Object:  UserDefinedFunction [dbo].[GetCurrentDoctorID]    Script Date: 21.05.2026 13:15:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Представление для врача: показывает только приёмы, где ID_врача = текущий пользователь.
-- Для упрощения будем использовать контекстную функцию, возвращающую ID_врача по логину пользователя.
-- Сначала создадим вспомогательную функцию.
CREATE   FUNCTION [dbo].[GetCurrentDoctorID]()
RETURNS INT
AS
BEGIN
    -- В реальной системе контекст определяется по SUSER_NAME() или USER_NAME().
    -- Здесь мы предполагаем, что логин пользователя соответствует Login в таблице Пользователи.
    DECLARE @DoctorID INT;
    SELECT @DoctorID = [ID_врача] FROM [Пользователи] WHERE [Логин] = USER_NAME();
    RETURN @DoctorID;
END;
GO
/****** Object:  Table [dbo].[Приёмы]    Script Date: 21.05.2026 13:15:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Приёмы](
	[ID_приёма] [int] NOT NULL,
	[Дата_время] [datetime] NOT NULL,
	[Статус] [int] NOT NULL,
	[Жалобы] [nvarchar](500) NULL,
	[Примечание_врача] [nvarchar](500) NULL,
	[ID_пациента] [int] NOT NULL,
	[ID_врача] [int] NOT NULL,
	[ID_кабинета] [int] NOT NULL,
	[Код_диагноза] [nvarchar](10) NULL,
	[ID_направления] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_приёма] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[View_Appointments_Doctor]    Script Date: 21.05.2026 13:15:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Представление для врача: приёмы, где он фигурирует как врач
CREATE   VIEW [dbo].[View_Appointments_Doctor]
AS
SELECT a.*
FROM [Приёмы] a
WHERE a.[ID_врача] = dbo.GetCurrentDoctorID();
GO
/****** Object:  Table [dbo].[Медицинские_записи]    Script Date: 21.05.2026 13:15:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Медицинские_записи](
	[ID_записи] [int] NOT NULL,
	[Дата_время] [datetime] NOT NULL,
	[Содержание] [nvarchar](max) NOT NULL,
	[ID_пациента] [int] NOT NULL,
	[ID_врача] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_записи] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[View_MedicalNotes_Doctor]    Script Date: 21.05.2026 13:15:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Представление для врача: его медицинские записи
CREATE   VIEW [dbo].[View_MedicalNotes_Doctor]
AS
SELECT mn.*
FROM [Медицинские_записи] mn
WHERE mn.[ID_врача] = dbo.GetCurrentDoctorID();
GO
/****** Object:  Table [dbo].[Лекарственные_назначения]    Script Date: 21.05.2026 13:15:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Лекарственные_назначения](
	[ID_назначения] [int] NOT NULL,
	[Лекарство] [nvarchar](200) NOT NULL,
	[Дозировка] [nvarchar](100) NOT NULL,
	[Период_приёма] [nvarchar](200) NULL,
	[Статус] [int] NOT NULL,
	[ID_приёма] [int] NULL,
	[ID_пациента] [int] NOT NULL,
	[ID_врача] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_назначения] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[View_Prescriptions_Doctor]    Script Date: 21.05.2026 13:15:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Представление для врача: лекарственные назначения, выписанные им
CREATE   VIEW [dbo].[View_Prescriptions_Doctor]
AS
SELECT p.*
FROM [Лекарственные_назначения] p
WHERE p.[ID_врача] = dbo.GetCurrentDoctorID();
GO
/****** Object:  Table [dbo].[Лабораторные_исследования]    Script Date: 21.05.2026 13:15:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Лабораторные_исследования](
	[ID_исследования] [int] NOT NULL,
	[Тип_анализа] [nvarchar](200) NOT NULL,
	[Дата_назначения] [datetime] NOT NULL,
	[Дата_выполнения] [datetime] NULL,
	[Результат] [nvarchar](max) NULL,
	[Статус] [int] NOT NULL,
	[ID_приёма] [int] NULL,
	[ID_пациента] [int] NOT NULL,
	[ID_врача] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_исследования] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[View_LabOrders_Doctor]    Script Date: 21.05.2026 13:15:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Представление для врача: лабораторные исследования, которые он назначил
CREATE   VIEW [dbo].[View_LabOrders_Doctor]
AS
SELECT lo.*
FROM [Лабораторные_исследования] lo
WHERE lo.[ID_врача] = dbo.GetCurrentDoctorID();
GO
/****** Object:  View [dbo].[View_LabOrders_Pending]    Script Date: 21.05.2026 13:15:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Представление для лаборанта: исследования, которые ещё не выполнены (статус 0)
CREATE   VIEW [dbo].[View_LabOrders_Pending]
AS
SELECT * FROM [Лабораторные_исследования]
WHERE [Статус] = 0;
GO
/****** Object:  Table [dbo].[Амбулаторная_карта]    Script Date: 21.05.2026 13:15:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Амбулаторная_карта](
	[ID_карты] [int] NOT NULL,
	[Группа_крови] [nvarchar](5) NULL,
	[Аллергии] [nvarchar](500) NULL,
	[Вредные_привычки] [nvarchar](200) NULL,
	[Доп_информация] [nvarchar](max) NULL,
	[ID_пациента] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_карты] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Врачи]    Script Date: 21.05.2026 13:15:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Врачи](
	[ID_врача] [int] NOT NULL,
	[Фамилия] [nvarchar](50) NOT NULL,
	[Имя] [nvarchar](50) NOT NULL,
	[Отчество] [nvarchar](50) NULL,
	[ID_специальности] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_врача] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Диагнозы_МКБ10]    Script Date: 21.05.2026 13:15:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Диагнозы_МКБ10](
	[Код_диагноза] [nvarchar](10) NOT NULL,
	[Название] [nvarchar](500) NOT NULL,
	[Группа] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Код_диагноза] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Журнал_аудита]    Script Date: 21.05.2026 13:15:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Журнал_аудита](
	[ID_записи] [bigint] IDENTITY(1,1) NOT NULL,
	[ID_пользователя] [int] NOT NULL,
	[Таблица] [nvarchar](128) NOT NULL,
	[Операция] [char](1) NOT NULL,
	[ID_записи_в_таблице] [nvarchar](50) NOT NULL,
	[Старое_значение] [nvarchar](max) NULL,
	[Новое_значение] [nvarchar](max) NULL,
	[IP_адрес] [nvarchar](45) NULL,
	[Дата_время] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_записи] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Кабинеты]    Script Date: 21.05.2026 13:15:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Кабинеты](
	[ID_кабинета] [int] NOT NULL,
	[Номер] [nvarchar](10) NOT NULL,
	[Корпус] [nvarchar](50) NULL,
	[Телефон] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_кабинета] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Направления]    Script Date: 21.05.2026 13:15:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Направления](
	[ID_направления] [int] NOT NULL,
	[Номер] [nvarchar](20) NOT NULL,
	[Дата_выдачи] [date] NOT NULL,
	[Срок_действия] [date] NOT NULL,
	[Цель] [nvarchar](500) NULL,
	[Статус] [int] NOT NULL,
	[ID_пациента] [int] NOT NULL,
	[ID_врача_направившего] [int] NOT NULL,
	[ID_врача_к_которому] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_направления] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Пациенты]    Script Date: 21.05.2026 13:15:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Пациенты](
	[ID_пациента] [int] NOT NULL,
	[Фамилия] [nvarchar](50) NOT NULL,
	[Имя] [nvarchar](50) NOT NULL,
	[Отчество] [nvarchar](50) NULL,
	[Дата_рождения] [date] NOT NULL,
	[Пол] [char](1) NULL,
	[СНИЛС] [nvarchar](14) NULL,
	[Телефон] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_пациента] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Пользователи]    Script Date: 21.05.2026 13:15:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Пользователи](
	[ID_пользователя] [int] NOT NULL,
	[Логин] [nvarchar](50) NOT NULL,
	[Хеш_пароля] [nvarchar](128) NOT NULL,
	[Роль] [int] NOT NULL,
	[ID_врача] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_пользователя] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Расписание]    Script Date: 21.05.2026 13:15:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Расписание](
	[ID_расписания] [int] NOT NULL,
	[День_недели] [int] NOT NULL,
	[Время_начала] [time](7) NOT NULL,
	[Время_окончания] [time](7) NOT NULL,
	[Активно] [bit] NOT NULL,
	[ID_врача] [int] NOT NULL,
	[ID_кабинета] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_расписания] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Роли]    Script Date: 21.05.2026 13:15:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Роли](
	[ID_роли] [int] NOT NULL,
	[Название] [nvarchar](50) NOT NULL,
	[Описание] [nvarchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_роли] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Специальности]    Script Date: 21.05.2026 13:15:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Специальности](
	[ID_специальности] [int] NOT NULL,
	[Название] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_специальности] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Амбулаторная_карта] ([ID_карты], [Группа_крови], [Аллергии], [Вредные_привычки], [Доп_информация], [ID_пациента]) VALUES (1, N'II', NULL, N'Нет', NULL, 1)
INSERT [dbo].[Амбулаторная_карта] ([ID_карты], [Группа_крови], [Аллергии], [Вредные_привычки], [Доп_информация], [ID_пациента]) VALUES (2, N'III', NULL, N'Нет', NULL, 2)
INSERT [dbo].[Амбулаторная_карта] ([ID_карты], [Группа_крови], [Аллергии], [Вредные_привычки], [Доп_информация], [ID_пациента]) VALUES (3, N'IV', NULL, N'Нет', NULL, 3)
GO
INSERT [dbo].[Врачи] ([ID_врача], [Фамилия], [Имя], [Отчество], [ID_специальности]) VALUES (1, N'Иванов', N'Иван', N'Иванович', 1)
INSERT [dbo].[Врачи] ([ID_врача], [Фамилия], [Имя], [Отчество], [ID_специальности]) VALUES (2, N'Петрова', N'Мария', N'Сергеевна', 2)
INSERT [dbo].[Врачи] ([ID_врача], [Фамилия], [Имя], [Отчество], [ID_специальности]) VALUES (3, N'Сидоров', N'Алексей', N'Владимирович', 3)
GO
INSERT [dbo].[Диагнозы_МКБ10] ([Код_диагноза], [Название], [Группа]) VALUES (N'E11.9', N'Сахарный диабет 2 типа без осложнений', N'Эндокринные заболевания')
INSERT [dbo].[Диагнозы_МКБ10] ([Код_диагноза], [Название], [Группа]) VALUES (N'F32.9', N'Депрессивный эпизод неуточненный', N'Психические расстройства')
INSERT [dbo].[Диагнозы_МКБ10] ([Код_диагноза], [Название], [Группа]) VALUES (N'G40.9', N'Эпилепсия неуточненная', N'Болезни нервной системы')
GO
SET IDENTITY_INSERT [dbo].[Журнал_аудита] ON 

INSERT [dbo].[Журнал_аудита] ([ID_записи], [ID_пользователя], [Таблица], [Операция], [ID_записи_в_таблице], [Старое_значение], [Новое_значение], [IP_адрес], [Дата_время]) VALUES (1, 2, N'Приёмы', N'U', N'2', NULL, NULL, N'192.168.1.1', CAST(N'2026-05-20T16:56:50.683' AS DateTime))
INSERT [dbo].[Журнал_аудита] ([ID_записи], [ID_пользователя], [Таблица], [Операция], [ID_записи_в_таблице], [Старое_значение], [Новое_значение], [IP_адрес], [Дата_время]) VALUES (2, 3, N'Врачи', N'D', N'3', NULL, NULL, N'192.168.1.2', CAST(N'2026-05-20T16:55:50.683' AS DateTime))
INSERT [dbo].[Журнал_аудита] ([ID_записи], [ID_пользователя], [Таблица], [Операция], [ID_записи_в_таблице], [Старое_значение], [Новое_значение], [IP_адрес], [Дата_время]) VALUES (3, 4, N'Лекарственные_назначения', N'I', N'4', NULL, NULL, N'192.168.1.3', CAST(N'2026-05-20T16:54:50.683' AS DateTime))
SET IDENTITY_INSERT [dbo].[Журнал_аудита] OFF
GO
INSERT [dbo].[Кабинеты] ([ID_кабинета], [Номер], [Корпус], [Телефон]) VALUES (1, N'101', N'Основной', N'123-456')
INSERT [dbo].[Кабинеты] ([ID_кабинета], [Номер], [Корпус], [Телефон]) VALUES (2, N'102', N'Основной', N'123-457')
INSERT [dbo].[Кабинеты] ([ID_кабинета], [Номер], [Корпус], [Телефон]) VALUES (3, N'201', N'Основной', N'123-458')
GO
INSERT [dbo].[Лабораторные_исследования] ([ID_исследования], [Тип_анализа], [Дата_назначения], [Дата_выполнения], [Результат], [Статус], [ID_приёма], [ID_пациента], [ID_врача]) VALUES (1, N'Биохимия крови', CAST(N'2026-05-19T17:03:27.143' AS DateTime), NULL, NULL, 0, 310, 11, 7)
INSERT [dbo].[Лабораторные_исследования] ([ID_исследования], [Тип_анализа], [Дата_назначения], [Дата_выполнения], [Результат], [Статус], [ID_приёма], [ID_пациента], [ID_врача]) VALUES (2, N'Анализ мочи', CAST(N'2026-05-18T17:03:27.143' AS DateTime), NULL, NULL, 0, 206, 207, 7)
INSERT [dbo].[Лабораторные_исследования] ([ID_исследования], [Тип_анализа], [Дата_назначения], [Дата_выполнения], [Результат], [Статус], [ID_приёма], [ID_пациента], [ID_врача]) VALUES (3, N'ЭКГ', CAST(N'2026-05-17T17:03:27.143' AS DateTime), CAST(N'2026-05-19T17:03:27.143' AS DateTime), N'Показатели в норме', 1, 485, 186, 6)
GO
INSERT [dbo].[Лекарственные_назначения] ([ID_назначения], [Лекарство], [Дозировка], [Период_приёма], [Статус], [ID_приёма], [ID_пациента], [ID_врача]) VALUES (1, N'Парацетамол', N'1 таблетка 3 раза в день', N'7 дней', 0, 2, 3, 3)
INSERT [dbo].[Лекарственные_назначения] ([ID_назначения], [Лекарство], [Дозировка], [Период_приёма], [Статус], [ID_приёма], [ID_пациента], [ID_врача]) VALUES (2, N'Но-шпа', N'1 таблетка 3 раза в день', N'7 дней', 0, 3, 4, 4)
INSERT [dbo].[Лекарственные_назначения] ([ID_назначения], [Лекарство], [Дозировка], [Период_приёма], [Статус], [ID_приёма], [ID_пациента], [ID_врача]) VALUES (3, N'Лазолван', N'1 таблетка 3 раза в день', N'7 дней', 0, 4, 5, 5)
GO
INSERT [dbo].[Медицинские_записи] ([ID_записи], [Дата_время], [Содержание], [ID_пациента], [ID_врача]) VALUES (1, CAST(N'2026-05-19T17:02:53.723' AS DateTime), N'Жалобы на боли в спине', 136, 3)
INSERT [dbo].[Медицинские_записи] ([ID_записи], [Дата_время], [Содержание], [ID_пациента], [ID_врача]) VALUES (2, CAST(N'2026-05-18T17:02:53.723' AS DateTime), N'Жалобы на головокружение', 159, 4)
INSERT [dbo].[Медицинские_записи] ([ID_записи], [Дата_время], [Содержание], [ID_пациента], [ID_врача]) VALUES (3, CAST(N'2026-05-17T17:02:53.723' AS DateTime), N'Жалобы на температуру', 67, 3)
GO
INSERT [dbo].[Направления] ([ID_направления], [Номер], [Дата_выдачи], [Срок_действия], [Цель], [Статус], [ID_пациента], [ID_врача_направившего], [ID_врача_к_которому]) VALUES (1, N'НАП-0001', CAST(N'2026-05-19' AS Date), CAST(N'2026-06-18' AS Date), N'Проведение ЭКГ', 1, 2, 2, 5)
INSERT [dbo].[Направления] ([ID_направления], [Номер], [Дата_выдачи], [Срок_действия], [Цель], [Статус], [ID_пациента], [ID_врача_направившего], [ID_врача_к_которому]) VALUES (2, N'НАП-0002', CAST(N'2026-05-18' AS Date), CAST(N'2026-06-17' AS Date), N'УЗИ брюшной полости', 0, 3, 3, 6)
INSERT [dbo].[Направления] ([ID_направления], [Номер], [Дата_выдачи], [Срок_действия], [Цель], [Статус], [ID_пациента], [ID_врача_направившего], [ID_врача_к_которому]) VALUES (3, N'НАП-0003', CAST(N'2026-05-17' AS Date), CAST(N'2026-06-16' AS Date), N'Приём терапевта', 0, 4, 4, 7)
GO
INSERT [dbo].[Пациенты] ([ID_пациента], [Фамилия], [Имя], [Отчество], [Дата_рождения], [Пол], [СНИЛС], [Телефон]) VALUES (1, N'Смирнов', N'Александр', N'Викторович', CAST(N'1999-08-31' AS Date), N'М', N'001-007-013 9', N'+7 (900) 0000001')
INSERT [dbo].[Пациенты] ([ID_пациента], [Фамилия], [Имя], [Отчество], [Дата_рождения], [Пол], [СНИЛС], [Телефон]) VALUES (2, N'Иванова', N'Анна', N'Викторовна', CAST(N'1999-04-30' AS Date), N'Ж', N'002-014-026 8', N'+7 (900) 0000002')
INSERT [dbo].[Пациенты] ([ID_пациента], [Фамилия], [Имя], [Отчество], [Дата_рождения], [Пол], [СНИЛС], [Телефон]) VALUES (3, N'Кузнецов', N'Максим', N'Викторович', CAST(N'1998-12-28' AS Date), N'М', N'003-021-039 7', N'+7 (900) 0000003')
GO
INSERT [dbo].[Пользователи] ([ID_пользователя], [Логин], [Хеш_пароля], [Роль], [ID_врача]) VALUES (1, N'admin', N'0192023A7BBD73250516F069DF18B500', 1, NULL)
INSERT [dbo].[Пользователи] ([ID_пользователя], [Логин], [Хеш_пароля], [Роль], [ID_врача]) VALUES (2, N'reg', N'5C769A1E38D1AF34A22A4FDF3E334409', 2, NULL)
INSERT [dbo].[Пользователи] ([ID_пользователя], [Логин], [Хеш_пароля], [Роль], [ID_врача]) VALUES (3, N'ivanov', N'C7EF8FC860E6B06CE37526B3E361700D', 3, 1)
GO
INSERT [dbo].[Приёмы] ([ID_приёма], [Дата_время], [Статус], [Жалобы], [Примечание_врача], [ID_пациента], [ID_врача], [ID_кабинета], [Код_диагноза], [ID_направления]) VALUES (1, CAST(N'2026-01-04T09:13:00.000' AS DateTime), 0, N'Боль в груди', NULL, 2, 2, 4, NULL, NULL)
INSERT [dbo].[Приёмы] ([ID_приёма], [Дата_время], [Статус], [Жалобы], [Примечание_врача], [ID_пациента], [ID_врача], [ID_кабинета], [Код_диагноза], [ID_направления]) VALUES (2, CAST(N'2026-01-04T09:26:00.000' AS DateTime), 2, N'Головная боль', N'Рекомендовано: постельный режим, обильное питьё', 3, 3, 6, N'N20.0', NULL)
INSERT [dbo].[Приёмы] ([ID_приёма], [Дата_время], [Статус], [Жалобы], [Примечание_врача], [ID_пациента], [ID_врача], [ID_кабинета], [Код_диагноза], [ID_направления]) VALUES (3, CAST(N'2026-01-04T09:39:00.000' AS DateTime), 2, N'Утомляемость', N'Рекомендовано: постельный режим, обильное питьё', 4, 4, 8, N'J45.0', NULL)
GO
INSERT [dbo].[Расписание] ([ID_расписания], [День_недели], [Время_начала], [Время_окончания], [Активно], [ID_врача], [ID_кабинета]) VALUES (1, 1, CAST(N'08:00:00' AS Time), CAST(N'12:00:00' AS Time), 1, 1, 1)
INSERT [dbo].[Расписание] ([ID_расписания], [День_недели], [Время_начала], [Время_окончания], [Активно], [ID_врача], [ID_кабинета]) VALUES (2, 3, CAST(N'13:00:00' AS Time), CAST(N'17:00:00' AS Time), 1, 1, 1)
INSERT [dbo].[Расписание] ([ID_расписания], [День_недели], [Время_начала], [Время_окончания], [Активно], [ID_врача], [ID_кабинета]) VALUES (3, 2, CAST(N'09:00:00' AS Time), CAST(N'13:00:00' AS Time), 1, 2, 8)
GO
INSERT [dbo].[Роли] ([ID_роли], [Название], [Описание]) VALUES (1, N'Администратор', N'Полный доступ ко всем разделам системы')
INSERT [dbo].[Роли] ([ID_роли], [Название], [Описание]) VALUES (2, N'Регистратор', N'Работа с пациентами, расписанием и записями на прием')
INSERT [dbo].[Роли] ([ID_роли], [Название], [Описание]) VALUES (3, N'Врач', N'Просмотр пациентов, ведение приемов, диагнозов и назначений')
GO
INSERT [dbo].[Специальности] ([ID_специальности], [Название]) VALUES (1, N'Терапевт')
INSERT [dbo].[Специальности] ([ID_специальности], [Название]) VALUES (2, N'Хирург')
INSERT [dbo].[Специальности] ([ID_специальности], [Название]) VALUES (3, N'Офтальмолог')
GO
/****** Object:  Index [UQ__Амбулато__815A4A26D6994CFF]    Script Date: 21.05.2026 13:15:25 ******/
ALTER TABLE [dbo].[Амбулаторная_карта] ADD UNIQUE NONCLUSTERED 
(
	[ID_пациента] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Врачи_ФИО]    Script Date: 21.05.2026 13:15:26 ******/
CREATE NONCLUSTERED INDEX [IX_Врачи_ФИО] ON [dbo].[Врачи]
(
	[Фамилия] ASC,
	[Имя] ASC,
	[Отчество] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Направле__063C4BF7EB06AFAD]    Script Date: 21.05.2026 13:15:26 ******/
ALTER TABLE [dbo].[Направления] ADD UNIQUE NONCLUSTERED 
(
	[Номер] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Пациенты__3EB0B85B72B01A42]    Script Date: 21.05.2026 13:15:26 ******/
ALTER TABLE [dbo].[Пациенты] ADD UNIQUE NONCLUSTERED 
(
	[СНИЛС] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Пациенты_ФИО]    Script Date: 21.05.2026 13:15:26 ******/
CREATE NONCLUSTERED INDEX [IX_Пациенты_ФИО] ON [dbo].[Пациенты]
(
	[Фамилия] ASC,
	[Имя] ASC,
	[Отчество] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Пользова__BC2217D38748A5F5]    Script Date: 21.05.2026 13:15:26 ******/
ALTER TABLE [dbo].[Пользователи] ADD UNIQUE NONCLUSTERED 
(
	[Логин] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Приёмы_Врач_ДатаВремя]    Script Date: 21.05.2026 13:15:26 ******/
ALTER TABLE [dbo].[Приёмы] ADD  CONSTRAINT [UQ_Приёмы_Врач_ДатаВремя] UNIQUE NONCLUSTERED 
(
	[ID_врача] ASC,
	[Дата_время] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Приёмы_Кабинет_ДатаВремя]    Script Date: 21.05.2026 13:15:26 ******/
ALTER TABLE [dbo].[Приёмы] ADD  CONSTRAINT [UQ_Приёмы_Кабинет_ДатаВремя] UNIQUE NONCLUSTERED 
(
	[ID_кабинета] ASC,
	[Дата_время] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Приёмы_Дата]    Script Date: 21.05.2026 13:15:26 ******/
CREATE NONCLUSTERED INDEX [IX_Приёмы_Дата] ON [dbo].[Приёмы]
(
	[Дата_время] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Роли__38DA80355FD147CC]    Script Date: 21.05.2026 13:15:26 ******/
ALTER TABLE [dbo].[Роли] ADD UNIQUE NONCLUSTERED 
(
	[Название] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Журнал_аудита] ADD  DEFAULT (getdate()) FOR [Дата_время]
GO
ALTER TABLE [dbo].[Лабораторные_исследования] ADD  DEFAULT (getdate()) FOR [Дата_назначения]
GO
ALTER TABLE [dbo].[Лабораторные_исследования] ADD  DEFAULT ((0)) FOR [Статус]
GO
ALTER TABLE [dbo].[Лекарственные_назначения] ADD  DEFAULT ((0)) FOR [Статус]
GO
ALTER TABLE [dbo].[Медицинские_записи] ADD  DEFAULT (getdate()) FOR [Дата_время]
GO
ALTER TABLE [dbo].[Направления] ADD  DEFAULT ((0)) FOR [Статус]
GO
ALTER TABLE [dbo].[Приёмы] ADD  DEFAULT ((0)) FOR [Статус]
GO
ALTER TABLE [dbo].[Расписание] ADD  DEFAULT ((1)) FOR [Активно]
GO
ALTER TABLE [dbo].[Амбулаторная_карта]  WITH CHECK ADD FOREIGN KEY([ID_пациента])
REFERENCES [dbo].[Пациенты] ([ID_пациента])
GO
ALTER TABLE [dbo].[Врачи]  WITH CHECK ADD FOREIGN KEY([ID_специальности])
REFERENCES [dbo].[Специальности] ([ID_специальности])
GO
ALTER TABLE [dbo].[Журнал_аудита]  WITH CHECK ADD FOREIGN KEY([ID_пользователя])
REFERENCES [dbo].[Пользователи] ([ID_пользователя])
GO
ALTER TABLE [dbo].[Лабораторные_исследования]  WITH CHECK ADD FOREIGN KEY([ID_врача])
REFERENCES [dbo].[Врачи] ([ID_врача])
GO
ALTER TABLE [dbo].[Лабораторные_исследования]  WITH CHECK ADD FOREIGN KEY([ID_пациента])
REFERENCES [dbo].[Пациенты] ([ID_пациента])
GO
ALTER TABLE [dbo].[Лабораторные_исследования]  WITH CHECK ADD FOREIGN KEY([ID_приёма])
REFERENCES [dbo].[Приёмы] ([ID_приёма])
GO
ALTER TABLE [dbo].[Лекарственные_назначения]  WITH CHECK ADD FOREIGN KEY([ID_врача])
REFERENCES [dbo].[Врачи] ([ID_врача])
GO
ALTER TABLE [dbo].[Лекарственные_назначения]  WITH CHECK ADD FOREIGN KEY([ID_пациента])
REFERENCES [dbo].[Пациенты] ([ID_пациента])
GO
ALTER TABLE [dbo].[Лекарственные_назначения]  WITH CHECK ADD FOREIGN KEY([ID_приёма])
REFERENCES [dbo].[Приёмы] ([ID_приёма])
GO
ALTER TABLE [dbo].[Медицинские_записи]  WITH CHECK ADD FOREIGN KEY([ID_врача])
REFERENCES [dbo].[Врачи] ([ID_врача])
GO
ALTER TABLE [dbo].[Медицинские_записи]  WITH CHECK ADD FOREIGN KEY([ID_пациента])
REFERENCES [dbo].[Пациенты] ([ID_пациента])
GO
ALTER TABLE [dbo].[Направления]  WITH CHECK ADD FOREIGN KEY([ID_врача_направившего])
REFERENCES [dbo].[Врачи] ([ID_врача])
GO
ALTER TABLE [dbo].[Направления]  WITH CHECK ADD FOREIGN KEY([ID_врача_к_которому])
REFERENCES [dbo].[Врачи] ([ID_врача])
GO
ALTER TABLE [dbo].[Направления]  WITH CHECK ADD FOREIGN KEY([ID_пациента])
REFERENCES [dbo].[Пациенты] ([ID_пациента])
GO
ALTER TABLE [dbo].[Пользователи]  WITH CHECK ADD FOREIGN KEY([ID_врача])
REFERENCES [dbo].[Врачи] ([ID_врача])
GO
ALTER TABLE [dbo].[Пользователи]  WITH CHECK ADD  CONSTRAINT [FK_Пользователи_Роли] FOREIGN KEY([Роль])
REFERENCES [dbo].[Роли] ([ID_роли])
GO
ALTER TABLE [dbo].[Пользователи] CHECK CONSTRAINT [FK_Пользователи_Роли]
GO
ALTER TABLE [dbo].[Приёмы]  WITH CHECK ADD FOREIGN KEY([ID_врача])
REFERENCES [dbo].[Врачи] ([ID_врача])
GO
ALTER TABLE [dbo].[Приёмы]  WITH CHECK ADD FOREIGN KEY([ID_кабинета])
REFERENCES [dbo].[Кабинеты] ([ID_кабинета])
GO
ALTER TABLE [dbo].[Приёмы]  WITH CHECK ADD FOREIGN KEY([ID_направления])
REFERENCES [dbo].[Направления] ([ID_направления])
GO
ALTER TABLE [dbo].[Приёмы]  WITH CHECK ADD FOREIGN KEY([ID_пациента])
REFERENCES [dbo].[Пациенты] ([ID_пациента])
GO
ALTER TABLE [dbo].[Приёмы]  WITH CHECK ADD FOREIGN KEY([Код_диагноза])
REFERENCES [dbo].[Диагнозы_МКБ10] ([Код_диагноза])
GO
ALTER TABLE [dbo].[Расписание]  WITH CHECK ADD FOREIGN KEY([ID_врача])
REFERENCES [dbo].[Врачи] ([ID_врача])
GO
ALTER TABLE [dbo].[Расписание]  WITH CHECK ADD FOREIGN KEY([ID_кабинета])
REFERENCES [dbo].[Кабинеты] ([ID_кабинета])
GO
ALTER TABLE [dbo].[Журнал_аудита]  WITH CHECK ADD CHECK  (([Операция]='D' OR [Операция]='U' OR [Операция]='I'))
GO
ALTER TABLE [dbo].[Лабораторные_исследования]  WITH CHECK ADD  CONSTRAINT [CHK_Лабораторные_исследования_Статус] CHECK  (([Статус]=(2) OR [Статус]=(1) OR [Статус]=(0)))
GO
ALTER TABLE [dbo].[Лабораторные_исследования] CHECK CONSTRAINT [CHK_Лабораторные_исследования_Статус]
GO
ALTER TABLE [dbo].[Лекарственные_назначения]  WITH CHECK ADD  CONSTRAINT [CHK_Лекарственные_назначения_Статус] CHECK  (([Статус]=(2) OR [Статус]=(1) OR [Статус]=(0)))
GO
ALTER TABLE [dbo].[Лекарственные_назначения] CHECK CONSTRAINT [CHK_Лекарственные_назначения_Статус]
GO
ALTER TABLE [dbo].[Направления]  WITH CHECK ADD  CONSTRAINT [CHK_Направления_Статус] CHECK  (([Статус]=(2) OR [Статус]=(1) OR [Статус]=(0)))
GO
ALTER TABLE [dbo].[Направления] CHECK CONSTRAINT [CHK_Направления_Статус]
GO
ALTER TABLE [dbo].[Пациенты]  WITH CHECK ADD CHECK  (([Пол]='Ж' OR [Пол]='М'))
GO
ALTER TABLE [dbo].[Приёмы]  WITH CHECK ADD  CONSTRAINT [CHK_Приёмы_Статус] CHECK  (([Статус]=(4) OR [Статус]=(3) OR [Статус]=(2) OR [Статус]=(1) OR [Статус]=(0)))
GO
ALTER TABLE [dbo].[Приёмы] CHECK CONSTRAINT [CHK_Приёмы_Статус]
GO
ALTER TABLE [dbo].[Расписание]  WITH CHECK ADD  CONSTRAINT [CHK_Расписание_Время] CHECK  (([Время_начала]<[Время_окончания]))
GO
ALTER TABLE [dbo].[Расписание] CHECK CONSTRAINT [CHK_Расписание_Время]
GO
ALTER TABLE [dbo].[Расписание]  WITH CHECK ADD CHECK  (([День_недели]>=(1) AND [День_недели]<=(7)))
GO
/****** Object:  StoredProcedure [dbo].[EnterLabResult]    Script Date: 21.05.2026 13:15:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Процедура для ввода результатов анализов (лаборантом)
CREATE   PROCEDURE [dbo].[EnterLabResult]
    @LabOrderID INT,
    @Result NVARCHAR(MAX)
AS
BEGIN
    IF IS_MEMBER('LabTechRole') = 0 AND IS_MEMBER('AdminRole') = 0
    BEGIN
        RAISERROR('Доступ запрещён. Только лаборант или администратор.', 16, 1);
        RETURN;
    END
    
    UPDATE [Лабораторные_исследования]
    SET [Результат] = @Result,
        [Дата_выполнения] = GETDATE(),
        [Статус] = 1
    WHERE [ID_исследования] = @LabOrderID;
END;
GO
/****** Object:  StoredProcedure [dbo].[OrderLabTest]    Script Date: 21.05.2026 13:15:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Процедура для назначения анализа врачом
CREATE   PROCEDURE [dbo].[OrderLabTest]
    @PatientID INT,
    @AnalysisType NVARCHAR(200),
    @AppointmentID INT = NULL
AS
BEGIN
    IF IS_MEMBER('DoctorRole') = 0 AND IS_MEMBER('AdminRole') = 0
    BEGIN
        RAISERROR('Доступ запрещён. Только врач или администратор.', 16, 1);
        RETURN;
    END
    
    DECLARE @DoctorID INT = dbo.GetCurrentDoctorID();
    DECLARE @NewOrderID INT = (SELECT ISNULL(MAX([ID_исследования]), 0) + 1 FROM [Лабораторные_исследования]);
    
    INSERT INTO [Лабораторные_исследования] ([ID_исследования], [Тип_анализа], [Дата_назначения], [Статус], [ID_пациента], [ID_врача], [ID_приёма])
    VALUES (@NewOrderID, @AnalysisType, GETDATE(), 0, @PatientID, @DoctorID, @AppointmentID);
    
    SELECT @NewOrderID AS NewOrderID;
END;
GO
/****** Object:  StoredProcedure [dbo].[RegisterPatient]    Script Date: 21.05.2026 13:15:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 4. Создаём хранимые процедуры для операций с проверкой прав (пример)
-- Процедура для регистрации нового пациента (регистратор)
CREATE   PROCEDURE [dbo].[RegisterPatient]
    @LastName NVARCHAR(50),
    @FirstName NVARCHAR(50),
    @MiddleName NVARCHAR(50) = NULL,
    @BirthDate DATE,
    @Gender CHAR(1),
    @SNILS NVARCHAR(14),
    @Phone NVARCHAR(20) = NULL
AS
BEGIN
    -- Проверка роли: только пользователи с ролью Регистратор или Админ
    IF IS_MEMBER('RegistrarRole') = 0 AND IS_MEMBER('AdminRole') = 0
    BEGIN
        RAISERROR('Доступ запрещён. Только регистратор или администратор.', 16, 1);
        RETURN;
    END

    DECLARE @NewID INT = (SELECT ISNULL(MAX([ID_пациента]), 0) + 1 FROM [Пациенты]);
    
    INSERT INTO [Пациенты] ([ID_пациента], [Фамилия], [Имя], [Отчество], [Дата_рождения], [Пол], [СНИЛС], [Телефон])
    VALUES (@NewID, @LastName, @FirstName, @MiddleName, @BirthDate, @Gender, @SNILS, @Phone);
    
    -- Автоматически создать амбулаторную карту
    INSERT INTO [Амбулаторная_карта] ([ID_карты], [ID_пациента]) VALUES (@NewID, @NewID);
    
    SELECT @NewID AS NewPatientID;
END;
GO
